.button {
  svg {
    fill: $white-bis;
    height: 100%;
    width: 100%;
    margin-top: 5px;
  }

  svg.is-danger {
    fill: $danger;
  }

  svg.is-warning {
    fill: $warning;
  }
}

.navbar-item {
  svg.naboris-svg {
    height: 36px;
    width: 36px;
    margin-right: 5px;

    #white-group {
      path {
        fill: white !important;
      }
    }

    #black-group {
      path {
        fill: white !important;
        opacity: 50% !important;
      }
    }

    #shadow-group {
      path {
        fill: white !important;
        opacity: 70% !important;
      }
    }

    #camel-group {
      path {
        fill: white !important;
        opacity: 80% !important;
      }
    }
  }
}